<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Starkey Artifactory" value="https://starkeydevops.jfrog.io/artifactory/api/nuget/nuget" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="Starkey Artifactory">
      <package pattern="Starkey.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
